.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* ***************************** APPNAVBAR ********************************** */

.app-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4em;
  width: 100%;
  background-color: #8eaebd;
  color: white;
}

/* ***************************** HOME ********************************** */

#hero-image {
  height: 25em;
  text-align: center;
  text-align: bottom;
  /* background-image: url("/pictures/hero-image.jpg"); */
  color: black;
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url('/pictures/hero-image.jpg');
  color: white;
}

#hero-image .container {
  margin-top: 7em;
}

.marketing-efforts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0em 3em 0em;
}

.marketing-efforts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.marketing-efforts-cards .me-card {
  padding: 0 2em 0 2em;
}

.marketing-analysis {
  background-color: #30415d;
  padding: 4em 0em 0em 0em;
  color: white;
}

.marketing-analysis .title {
  margin: 0;
}

.article-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-link .description {
  margin: 4em 0 2em 0;
  width: 50em;
}

.article-link img {
  width: 25em;
  height: 15em;
  margin-bottom: 1em;
}

.article-description {
  width: 20em;
  margin-top: 1em;
}

.article-link .call-to-action {
  width: 20em;
  font-size: 1.2em;
}

.cta-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10em;
  background-color: lightgrey;
  width: 100%;
}

/* .cta-buttons button {
  background-color: red;
  color: black;
} */

/* ***************************** TOP BANNER ********************************** */

.top-banner .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.top-banner .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 2em; */
  margin: 1em 0em 3em 0em;
}

.top-banner h4 {
  text-decoration: none;
  color: #2c6276;
}

/* ***************************** FOOTER ********************************** */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

/* ***************************** WEBSITE-ANALYSIS-FORM ********************************** */

.website-analysis-form {
  margin-top: 1em;
  width: 80%;
  margin-left: 10%;
}

.modal-header {
  background-color: #33383b;
  color: white;
  width: 100%;
}

.modal-header div {
  /* text-align: center; */
  margin-left: 3.5em;
}

.website-analysis-form .description {
  font-size: 0.9em;
}

/* ***************************** ABOUT US ********************************** */

.about-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-us-container {
  align-self: center;
  width: 35em;
  margin: 3em 0em 3em 0em;
}

/* ***************************** GROWTH TIPS ********************************** */

.growth-tips-container .title {
  height: 17em;
  background-image: url('/pictures/growth-tips-for-dentists.jpg');
}

.growth-tips-container .title h1 {
  color: white;
  margin-top: 1em;
}

.growth-tips .information-container {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em 3em 0em;
}

.growth-tips .information-container .article {
  min-height: 20em;
  width: 40em;
  margin-left: 10em;
}

.growth-tips .information-container .article p {
  text-align: left;
}

.growth-tips .information-container .article button {
  text-align: left;
}

.growth-tips .information-container .links {
  text-align: left;
  width: 13em;
  margin-right: 10em;
  font-weight: bold;
}

.growth-tips .article a {
  color: #04455b;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.growth-tips .article a:hover {
  color: #d95e61;
  text-decoration: none;
}

.growth-tips .article img {
  height: 10em;
  width: 15em;
}

.growth-tips .article h2 {
  margin-top: 1em;
}

.growth-tips .links a:hover {
  color: #d95e61;
  text-decoration: none;
}

/* ***************************** CONTACT US ********************************** */

.contact-us h2 {
  margin: 1em 0 1em 0;
  color: #2c6276;
}

.contact-us .contact-container {
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.contact-us .contact-container .description {
  text-align: left;
  margin-top: 4em;
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact-us .contact-container .text {
  width: 70%;
}

.contact-us .form {
  background: #e5eff4;
  width: 50%;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  margin: 5em 0 7em 0;
}

.contact-us form input {
  align-self: center;
  height: 3em;
  margin: 0.5em;
  width: 60%;
  padding: 10px;
}

.contact-us form .submit-form {
  align-self: center;
  height: 3em;
  width: 30%;
  padding: 10px;
  background-color: #2c6276;
  color: white;
  font-size: 1.1em;
}

.contact-us .message {
  align-self: center;
  height: 10em;
  margin-top: 0.5em;
  width: 60%;
  padding: 10px;
}

/* ***************************** CONTENT WRITING ********************************** */

.content-writing {
  color: #2c6276;
}

.content-writing-container .title {
  height: 17em;
  background-image: url('/pictures/content-writing-background.jpg');
}

.content-writing-container .title h2 {
  color: #2c6276;
  margin-top: 1em;
}

.content-writing-container .description {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  max-width: 60em;
}

.content-writing-container .description .text {
  text-align: left;
  padding: 0 0 1em 4em;
  width: 20em;
}

.content-writing-container .description-2 {
  display: flex;
  flex-direction: row;
  max-width: 60em;
}

.content-writing-container .description-2 .text {
  text-align: left;
  padding: 0 0 1em 3em;
  width: 20em;
}

.content-writing-container .container {
  margin-bottom: 1em;
}

.content-writing img {
  max-width: 100%;
}

/* ***************************** NO WEBSITE CTA ********************************** */

.no-website-form form {
  display: flex;
  flex-direction: column;
  margin: 1em 0 7em 0;
}

.no-website-form form input {
  align-self: center;
  height: 2.5em;
  margin: 0.5em;
  width: 18em;
  padding: 10px;
}

.no-website-form form .submit-form {
  align-self: center;
  height: 2.5em;
  width: 7em;
  padding: 10px;
  background-color: #2c6276;
  color: white;
  font-size: 1.1em;
}

.no-website-CTA .parent {
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.no-website-CTA .child-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 15em;
}

.no-website-CTA .child-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15em;
}

.no-website-CTA .free-analysis-button {
  align-self: center;
  height: 2.5em;
  width: 15em;
  padding: 10px;
  background-color: #2c6276;
  color: white;
  font-size: 1.1em;
}

.no-website-CTA .statement {
  background: linear-gradient(to bottom right, #ffff7a, #ffd800);
  height: 15em;
  margin-bottom: 0;
}

/* ***************************** 7 LEAD GEN TIPS ********************************** */

.seven-lead-generation-tips {
  margin: auto;
  max-width: 40em;
  color: #4a4a4a;
}

.seven-lead-generation-tips div {
  margin-top: 1.5em;
}

.seven-lead-generation-tips .main-image {
  max-width: 100%;
}

.seven-lead-generation-tips .last-updated {
  text-align: left;
  margin-left: 4em;
  font-size: 0.8em;
}

.seven-lead-generation-tips .last-updated span {
  margin: 3px;
}

.seven-lead-generation-tips .intro {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  max-width: 50em;
  font-weight: 500;
}

.seven-lead-generation-tips .text {
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  max-width: 50em;
  font-weight: 500;
}

/* ***************************** MARKETING SOLUTIONS ********************************** */
.marketing-solutions {
  color: #2c6276;
}

.marketing-solutions .header {
  margin: 2em 0 2em 0;
}

.marketing-solutions .scenarios {
  width: 40em;
  margin: auto;
  margin-top: 3em;
}

.marketing-solutions .statement {
  height: 15em;
  margin-bottom: 0;
}

/* ***************************** CONTENT WRITING ********************************** */

.online-advertising {
  color: #2c6276;
}

.online-advertising .text {
  max-width: 50em;
  margin: auto;
}

.online-advertising-container .title {
  height: 17em;
  background-image: url('/pictures/online-ads-background.jpg');
}

.online-advertising-container .title h1 {
  color: #2c6276;
  margin-top: 1em;
}

.online-advertising-container .title {
  margin-bottom: 3em;
}

.online-advertising-container .online-advertising-graphic {
  margin-bottom: 4em;
  max-width: 100%;
}

.online-advertising-container .online-advertisements-explained {
  margin: 2em 0 2em 0;
}

/* ***************************** OUR WORK ********************************** */
.our-work h2 {
  margin: 2em 0 2em 0;
}

.our-work-container {
  max-width: 50em;
  margin: auto;
}

.our-work img {
  width: 20em;
  height: 15em;
}

.our-work .website-example-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.our-work .website-example-container .description {
  width: 20em;
  margin-top: 1em;
  margin-left: 2em;
  text-align: left;
}

.our-work hr {
  width: 50em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.our-work .statement {
  height: 8em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************************** MORE CLIENTS STATEMENT ********************************** */

.more-clients-statement .no-background {
  height: 8em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ********************************* ADWORDS ********************************** */

.adwords-marketing {
  color: #2c6276;
}

.adwords-marketing .title {
  height: 17em;
  background-image: url('/pictures/ppc-background.jpg');
}

.adwords-marketing .title h1 {
  margin-top: 1em;
}

.adwords-marketing .intro {
  max-width: 45em;
  margin: auto;
  margin-bottom: 5em;
}

.adwords-marketing .description-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.adwords-marketing .description {
  max-width: 23em;
  text-align: left;
  margin-top: 1em;
  margin-left: 2em;
}

.adwords-marketing-container .description {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  max-width: 60em;
}

.adwords-marketing-container .description .text {
  text-align: left;
  padding: 0 0 1em 4em;
  width: 20em;
}

.adwords-marketing-container .description-2 {
  display: flex;
  flex-direction: row;
  max-width: 60em;
}

.adwords-marketing-container .description-2 .text {
  text-align: left;
  padding: 0 0 1em 3em;
  width: 20em;
}

.adwords-marketing-container .container {
  margin-bottom: 1em;
}

/* ********************************* ADWORDS ********************************** */

.pricing {
  color: #2c6276;
}

.pricing .title {
  height: 17em;
  background-image: url('/pictures/pricing-background.jpg');
}

.pricing .title h1 {
  margin-top: 1em;
}

.pricing .intro {
  max-width: 45em;
  margin: auto;
  margin-bottom: 5em;
}

.pricing .description-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-container .description {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  max-width: 60em;
}

.pricing-container .description .text {
  text-align: left;
  padding: 0 0 1em 4em;
  width: 20em;
}

.pricing-container .description-2 {
  display: flex;
  flex-direction: row;
  max-width: 60em;
}

.pricing-container .description-2 .text {
  text-align: left;
  padding: 0 0 1em 3em;
  width: 20em;
}

.pricing-container .container {
  margin-bottom: 1em;
}

.fa-check {
  color: green;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

.pricing .standard,
.pricing .premium {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  max-width: 30em;
}

.pricing .premium {
  margin-top: 4em;
}

.pricing .description {
  max-width: 25em;
  text-align: left;
  margin-top: 1em;
  margin-left: 2em;
}

.pricing .features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.faq {
  padding: 3em 0 3em 0;
  background-color: lightgrey;
}

.faq h4 {
  margin-bottom: 2em;
}

.faq .questions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 55em;
  margin: auto;
}

.faq .questions .question {
  max-width: 23em;
  margin: 1.5em;
}
